#-e git+ssh://git@github.com/kwan3217/picturebox.git#egg=picturebox
git+ssh://git@github.com/kwan3217/kwanmath.git#egg=kwanmath
git+ssh://git@github.com/kwan3217/kwanspice.git#egg=kwanspice
#manim
spiceypy
matplotlib
